.name {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: left;
}


.article {
	margin-left: 145px;
	padding: 0px 20px;
	border: solid;
}

.articleImg {
	float: left;
	width: 125px;
	height: 125px;
	border-style=solid;
}

.articlePreview {
}
