.name {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: left;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headerElt {
    float: left;
}

.headerElt .headerLink {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 100px;
}

.headerElt .headerLink:hover {
    background-color: #36d82b;
}

.active {
    background-color: blue;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    overflow: hidden;
    background-color: #333;
}

.sidebarHeader {
    background-color: red;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.sidebarElt {
    text-align: center;
}

.sidebarElt .sidebarLink {
    display: inline-block;
    color: white;
    text-decoration: none;
}
